    <!-- Nav -->
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header id="header">

                    <nav id="nav">
                        <ul class="container">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Головна</a></li>
                            <li><a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Мій блог</a></li> @*Services це контроллер для моїх статей*@
                            <li><a href="#work">Мій стек</a></li>
                            <li><a href="#portfolio">Мої роботи</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contacts">Мої контакти</a></li>
                        </ul>
                    </nav>
                </header>
            </div>
        </div>
    </div>
</div>