<article id="portfolio" class="wrapper style3">
    <div class="container">
        <header>
            <h2>
                Ось дещо, що я зробив недавно.
            </h2>
            <p>Нажаль тут представлені не всі мої проекти, так як "дотнетчик" який тримав мене в заручниках, не розказав мені про те що необхідно заводити портфоліо :(</p>
        </header>
        <div class="row">
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
                    <h3><a href="#">Вставити ссилку на гіт</a></h3>
                    <p>Ornare nulla proin odio consequat.</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
                    <h3><a href="#">Вставити ссилку на гіт</a></h3>
                    <p>Ornare nulla proin odio consequat.</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
                    <h3><a href="#">Вставити ссилку на гіт</a></h3>
                    <p>Ornare nulla proin odio consequat.</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
                    <h3><a href="#">Вставити ссилку на гіт</a></h3>
                    <p>Ornare nulla proin odio consequat.</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
                    <h3><a href="#">Вставити ссилку на гіт</a></h3>
                    <p>Ornare nulla proin odio consequat.</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
                    <h3><a href="#">Вставити ссилку на гіт</a></h3>
                    <p>Ornare nulla proin odio consequat.</p>
                </article>
            </div>
        </div>
        <footer>
            <p>Сподіваюсь я зміг зацікавити вас?</p>
            <a href="#contact" class="button large scrolly">Якщо так, то зв'яжіться зі мною</a>
        </footer>
    </div>
</article>