<article id="work" class="wrapper style2">
    <div class="container">
        <header>
            <h2>Ось короткий перелік моїх занять.</h2>
            <p>Тут представлені три основних рода діяльності.</p>
        </header>
        <div class="row aln-center">
            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    <span class="icon featured fa-comments"></span>
                    <h3>.Net Developing</h3>
                    <p>Під час навчання на курсі комп'ютерних наук, мене взяв в заручники .Net розробник, який заставив мене вивчати C# </p>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    <span class="icon solid featured fa-camera-retro"></span>
                    <h3>Asp.Net Core Mvc</h3>
                    <p>Після року перебування в заручниках, розробник заставив мене рости та вивчати Asp.Net Core використовуючи паттерн MVC</p>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    <span class="icon featured fa-thumbs-up"></span>
                    <h3>SQL Database</h3>
                    <p>Оскільки для розробки веб додатків необхідно працювати з базами даних, довелось вивчати Sql. І через нього мене досі не відпускають з заручників.</p>
                </section>
            </div>
        </div>
        <footer>
            <p>Якщо вам досі цікаво тут перебувати, ласкаво прошу пройти далі!</p>
            <a href="#portfolio" class="button large scrolly">Подивіться деякі мої роботи</a>
        </footer>
    </div>
</article>